/*animate*/




@keyframes list-on{
    from{
        right: -200px;
    }
    to{
        right: 0px;
    }
}

@keyframes list-off{
    from{
        right: 0px;
    }
    to{
        right: -200px;
    }
}

@keyframes fadeInN{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeInC{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.4;
    }
}

@keyframes fadeOutN{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes fadeOutC{
    from{
        opacity: 0.4;
    }
    to{
        opacity: 0;
    }
}